<header th:fragment="header" xmlns:sec="">
    <nav>
        <div id="nav-left">
            <h1><a href="/">My Journey Companion</a></h1>
            <div id="menu">
                <ul>
                    <li>
                        <a href="/games/all"> Games </a>
                    </li>
                    <li>
                        <a href="/games/topten"> Top 10 </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="nav-right">
            <div sec:authorize="!isAuthenticated()" id="headerNotConnected">
                <a href="/login" class="button">Sign in</a>
                <a class="button boxed-button" id="signup" href="/signup">Sign up</a>
            </div>

            <div sec:authorize="isAuthenticated()" id="headerConnected">
                <div id="unroll">Profile
                    <div id="user-menu">
                        <div id="username" th:text="${#authentication.getName()}"> </div>
                        <ul>
                            <li>
                                <a href="/users/profile"> My profile </a>
                            <li>
                                <a href="/todolist"> My to do list</a>
                            </li>
                            <li>
                                <a href="/donelist"> My done list</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </nav>

</header>