<head th:fragment="head">
    <meta charset="UTF-8">
    <title>My Journey Companion</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css">
    <link type="text/css" rel="stylesheet" href="/css/signin.css">
    <link type="text/css" rel="stylesheet" href="/css/components.css">
    <link type="text/css" rel="stylesheet" href="/css/footer.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link type="text/css" rel="stylesheet" href="/css/games.css">
    <link type="text/css" rel="stylesheet" href="/css/topten.css">
    <link type="text/css" rel="stylesheet" href="/css/gameDetails.css">
    <link type="text/css" rel="stylesheet" href="/css/quiz.css">
    <link type="text/css" rel="stylesheet" href="/css/about.css">
    <script src="/js/quiz.js"></script>
    <script src="/js/mark.js" defer></script>
    <script src="/js/footer.js" defer></script>
</head>