<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="quiz answer-quiz">

    <div class="big-container container red-container">
        <h1 th:text="${quiz.getGame().getName()}"></h1>
        <h2 th:text="${quiz.getQuizTitle()}"></h2>
        <form method="post" th:action="@{/submitAnswers}">
            <div class="questions">
                <div th:each="question, questionIndex : ${quiz.questions}" class="question">
                    <h3 th:text="'Question ' + (${questionIndex.index + 1})" class="question-title"></h3>
                    <div th:text="${question.getQuestionTitle()}" class="question-title"></div>
                    <div class="responses">
                        <div th:each="answer, answerIndex: ${question.answers}" class="response">
                            <input type="checkbox" th:name="${answer.getAnswerTitle()}" th:id="'answer' + (${questionIndex.index + 1}) + '-' + (${answerIndex.index + 1})">
                            <label th:text="${answer.getAnswerTitle()}" th:for="'answer' + (${questionIndex.index + 1}) + '-' + (${answerIndex.index + 1})"></label>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="quizUuid" th:value="${quiz.getUuidQuiz()}" />
            <button type="submit" class="boxed-button"> Submit you answers</button>
        </form>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>