<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<header th:replace="~{fragments/header :: header}"></header>

<main class="quiz create-quiz">

    <h1> Create a quiz</h1>

    <div class="container red-container big-container">

        <h1 th:text="${game.getName()}"></h1>
        <form id="createForm" method="post" th:action="@{/createQuiz}">
            <div class="title">
                <label>
                    Title
                </label>
                <input type="text" name="quizTitle" class="text-input">
            </div>

            <div class="questions">
                <div class="question">
                    <label for="question-1"> Question 1 </label>
                    <div>
                        <input type="text" name="question" id="question-1" class="text-input big-input">
                        <button class="deleteQuestion button boxed-button" type="button" disabled> X</button>
                    </div>
                    <div class="responses">
                        <div class="response">
                            <label for="response-1-1"> Answer 1</label>
                            <div>
                                <input type="checkbox" id="isGoodAnswer-1-1">
                                <input type="text" name="response" id="response-1-1" class="text-input mid-input">
                                <button class="deleteResponse button boxed-button" type="button" disabled> X</button>
                            </div>
                        </div>

                        <div class="response">
                            <label for="response-1-2"> Answer 2</label>
                            <div>
                                <input type="checkbox" id="isGoodAnswer-1-2">
                                <input type="text" name="response" id="response-1-2" class="text-input mid-input">
                                <button class="deleteResponse button boxed-button" type="button" disabled> X</button>
                            </div>
                        </div>
                        <button class="addAnswer button boxed-button" type="button"> + Add answer</button>
                    </div>
                </div>

                <button class="addQuestion button boxed-button" type="button"> + Add question</button>
            </div>

            <input type="hidden" name="jsonQuiz" id="jsonQuiz" />
            <input type="hidden" name="userUuid" th:value="${user.getUuid()}">
            <input type="hidden" name="gameUuid" th:value="${game.getUuid()}">

            <button id="submitButton" class="button boxed-button" type="submit">
                Submit
            </button>
        </form>

    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/js/quiz.js"></script>

</body>
</html>